html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.page-wrapper{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color:white;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.content-wrapper{
    width: 400px;
    height: 400px;
    border: 2px solid;
    margin: 0 auto;
    padding: 80px;
    border-radius: 50%;
    text-align: center;
}

h3{
    margin: 0 auto;
    width: 100px;
    border: 2px solid;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin-top: 50px;
}

h1{
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;  
}

div h1:first-child{
    margin-bottom: 0;
    letter-spacing: 20px;
}

div h1:last-child{
    margin-top: 0;
    letter-spacing: 23px;
}

header div:last-of-type{
    margin: 0 auto;
    height: 2px;
    width: 50px;
    border-bottom: 2px solid;
}

p{
    padding-top: 20px;
    margin: 0 auto;
    width: 220px;
    font-weight: 300; 
    font-size: 10px;
    text-align: justify;
}